header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

img {
    height: 80px;
}

@media screen and (max-width: 475px) {
    header {
        margin-right: 20px;
    }
}





