header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 80px;
}

@media screen and (max-width: 768px) {
    header {
        margin: 10px;
    }
}



