footer {
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;

}


@media screen and (max-width: 435px) {
    footer {
        margin-top: 100px;
    }
}



