.stats-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    gap: 10px;
}

.name-logo-stats {
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 5px;
}
.logo-stats {
    height: 40px;
}