@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@300;700&family=Montserrat:wght@200;300;400;500;600;800&family=Playball&display=swap');

:root {
  --main-bg-color: #c2d3e9;
  --button-bg-color: #477198;
  --primary-text-color: #020202;

  --button-text-color: whitesmoke;

  --transition: 0.8s ease-in-out;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Playball', cursive;
  }

  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
    min-height: 100%;
  }

  p {
    font-size: 20px;
  }

  button {
    padding: 5px;
    cursor: pointer;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border-radius: 5px;
  }

  @media screen and (max-width: 383px) {
    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 15px;
    }

    
  }